:root {
	--secundary-text: #aaaaaa;
	--background: #0e0e0e;
	--primary-text: #ecf6ff;
}


/* Header */

header {
	background-color: var(--background);

	align-items: center;
	display: flex;

	justify-content: space-between;
	color: var(--primary-text);
	height: 5rem;
	width: 100%;

	padding: 0 2rem;

	position: fixed;
}

.nav-list {
	display: flex;
	gap: 5vw;

	list-style: none;
	text-align: center;
}



/* Switch de mudar tema */

.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 28px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f7f7f7;
	box-shadow: inset 0px 0px 34px -5px rgba(0,0,0,0.85);
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: #ececec;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #353535;
  }
  
  input:focus + .slider {
	box-shadow: 1px #acacac;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
