/* Header */

header {
	background-color: var(--background);

	align-items: center;
	display: flex;

	justify-content: space-between;
	color: var(--primary-text);
	height: 5rem;
	width: 100%;

	padding: 0 2rem;

	position: fixed;
}


.nav-bar {
	display: flex;
	align-items: center;
}

.nav-list {
	display: flex;
	justify-content: center;
	gap: 5vw;

	list-style: none;
	text-align: center;
}

.nav-list a {
	padding: 0 1rem;
	text-decoration: none;
	border-radius: .2rem;
}

.nav-list a:hover{
	background-color: var(--primary-text);
	color: var(--background);
	transition:  all ease .5s;
}

.mobile-menu-icon {
	width: 3rem;
	filter: invert();
}

.mobile-menu-button {
	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid transparent;
	background: transparent;
}

.mobile-menu-button:hover {
	border: 1px solid var(--white)
}


/* Translate */

.translate-container {
	gap: 2rem;
	display: flex;
}

.translate-icon {
	width: 3.5rem;
	filter: grayscale(1);
	transition:  var(--fade-transition);
}

.translate-icon:hover{
	filter: grayscale(0);
}

/* COntent main container */

.main-container {
	height: 100vh;
	display: flex;
	align-items: center;
	gap: 1rem;

	justify-content: space-between;
}

.container-child,
.container-img {
	width: 50%;
}

.home-text {
	color:var(--secundary-text) ;
}

.home-title,
.home-hashtag {
	color: var(--primary-text);
}

.container-img {
	display: flex;
	justify-content: center;
	align-items: center;	

	padding: 0 5rem;
}

.container-img img {
	width: 80%;
}

.container-texts {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;

	padding: 0 20%;
	width: 100%;
}

/* Header functions */

.header-functions {
	display: flex;
	justify-content: center;
	gap: 2rem;
}