/* Header */

header {
	background-color: var(--background);
}

.nav-item {
	list-style: none;
}

.nav-link {
	color: white;
	text-decoration: none;
}

.nav-bar {
	position: static;
	height: 5rem;
	display: flex;
	min-width: 7rem;
	align-items: center;
	justify-content: space-between;
	padding: 0 3rem;
}

.nav-bar img {
	width: 2.5rem;
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
}

.nav-link {
	padding: 0 .5rem;
	transition: 0.5s ease;
	border-radius: 2px;
}

.nav-link:hover {
	background-color: aliceblue;
	color: black;
}


/* Hamburguer */

.hamburguer {
	cursor: pointer;
	display: none;
}

.bar {
	display: block;
	margin: .5rem auto;
	width: 2.8rem;
	height: .3rem;
	border-radius: 2rem;
	background-color: aliceblue;
	transition: all 0.2s ease-in-out;
}

/* Translate */

.translate-container {
	gap: 2rem;
	display: flex;
}

.translate-icon {
	width: 3.5rem;
	filter: grayscale(1);
	transition:  var(--fade-transition);
}

.translate-icon:hover{
	filter: grayscale(0);
}

/* COntent main container */

.main-container.index {
	height: calc(100vh - 5rem);
	display: flex;
	align-items: center;
}

.main-container.index{ 
	padding-bottom: 5rem;
}

.container-child,
.container-img {
	width: 50%;
}

.home-title,
.home-hashtag {
	color: var(--primary-text);
}

.container-img {
	display: flex;
	justify-content: center;
	align-items: center;	

	padding: 0 5rem;
}

.container-img img {
	width: 80%;
}

.container-texts {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;

	padding: 0 20%;
	width: 100%;
}

/* Header functions */

.header-functions {
	display: flex;
	justify-content: center;
	gap: 2rem;
}