.container-donate {
	display: flex;
	gap: 2rem;
}

.image-container-donate {
	z-index: -999;
	background-image: url(/src/images/congo.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(1);
}

.image-container-donate,
.text-container-donate {
	width: 50vw;
	height: 100vh;
}