/* Adicione seu Estilos aqui */

.main-container {
	display: flex;
	flex-direction: column;
	background: none;
	align-items: center;
}

.main-container h1 {
	background: linear-gradient(234deg, rgba(91, 91, 91, 0.5) 0%, rgba(191,191,191,0.5) 100%);
	
	justify-content: center;
	align-items: center;

	font-size: 30pt;
	display: flex;
	color: var(--background);

	height: 8vh;
	width: 100%;

	margin-top: 2rem;
}

.about-us-text-container {
	gap: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: auto;
	max-width: 100rem;
	padding: 3rem 3rem 10rem 3rem;
}

.p-container {
	display: flex;
	flex-direction: column;
	gap: 2rem ;
}